/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2015, 2:18:14 PM
    Author     : Benito
*/

body {
    background-color: rgb(255,255,0);
}

div { 
    text-align: center;
}

#good {
    font-family: Verdana;
}

#caption {
    font-style: italic;
    font-family: Rockwell;
    font-size: 18px;
}

img {
    margin-right: auto;
    margin-left: auto;
}