/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

/*.button {
    -fx-background-color: rgb(200,200,0);
    -fx-border-color: rgb(230,230,0);
    //-fx-padding: 50;
}*/

.language_selection {
    -fx-background-color: floralwhite;
    -fx-alignment: center;
    -fx-spacing: 15px;
    -fx-font-family: Arial;
    -fx-font-size: 16;
}

.main_menu {
    -fx-alignment: center;
    -fx-background-color: bisque;
}

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(0, 50, 50);
    -fx-border-color: rgb(200, 200, 200);
    -fx-spacing: 20px;
    -fx-alignment: center;
    //-fx-font-weight: bold;
}

.titleField {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: orange;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-font-style: italic;
}

.selected_slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(250, 250, 190);
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-thickness: 10px;
    //-fx-spacing: 60px;
}
.vertical_toolbar_button {
    -fx-background-color: rgb(250, 130, 130);
}

.horizontal_toolbar_button {
    -fx-padding: 20px;
    -fx-spacing: 50px;
    -fx-background-color: rgb(200, 200, 0);
    -fx-border-color: rgb(230,230,0);
}

.borderpane {
    -fx-background-image: url("yellow-background2.jpg");
    -fx-background-size: contain;
}

.workspace {
    //-fx-background-color: linear-gradient(rgb(255,255,0), rgb(0,0,0));
}

.scrollpane {
    //-fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-background-color: orange;
}

.slides_vbox {
    -fx-background-color: rgb(180, 200, 80);
}